.faq-block {
    padding:2em;
    font-size:18px;
    background-color:$darkblue;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size:200%;
        font-weight:600;
        margin:0;
        text-align: center;
    }
    p {
        font-size: 120%;
        font-weight:200;
        text-align:center;
        margin:0 0 .5em 0;
    }

    ul {
        margin:1em auto;
        padding:0;
        width:auto;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;

        li {
            list-style:none;
            width: auto;
            display:flex;
            flex-direction:row;
            padding:.25em;
            align-items:start;

            > div {
                display:flex;
                position: relative;
                margin:.14em .25em 0 0;
                height:1em;
                width:1em;
                background-color:#fff;
                color:$darkblue;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius:50%;
                flex:none;

                > svg {
                    width:100%;
                    height:100%;

                    path {
                        fill: $darkblue
                    }
                }

            }

            a {
                text-decoration: none;
                color:#fff;
                font-weight:200;
                width:auto;
            }
        }
    }

    > div {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a.link-btn {
            background-color:#fff;
            color:$darkblue;
        }
    }
    
}