@mixin link-btn {
    position:relative;
    text-transform: uppercase;
    border-radius:4px;
    border:none;
    box-shadow:1px 1px 2px rgba(0,0,0,.5);
    font-size:18px;
    margin:0;
    padding:.5em 1em;
    font-family: $myriad-font;
    text-decoration: none;
    text-align: center;
}

a.link-btn {
    @include link-btn;
    background-color:#fff;
    color:$darkblue;

    &.dark-blue-back {
        background-color:$darkblue;
        color:#fff;
    }

    &.try-now {
        background-color:$kellygreen;
        color:#fff;
    }
}