.list-box {
    padding: 0;
    display:flex;
    flex-direction:column;
    background-color:#fff;
    box-shadow:1px 1px 3px rgba(0,0,0,.4);
    box-sizing: border-box;
    position: relative;

    h3, h4 {
        text-align: center;
        color:$darkblue;
        margin:0 0 .5em 0;
        padding:0;
    }

    h3 {
        font-weight:600;
        font-size:140%;
    }

    h4 {
        font-weight:200;
        font-size:120%;
    }

    ul {
        margin:0 auto;
        padding:0;
        width:80%;
        font-size:90%;

        li {
            padding: .25em .25em 0 1.25em;
            margin:0;
            position: relative;
            list-style: none;

            &::before {
                content: '';
                position:absolute;
                top:.25em;
                left:0;
                width:1em;
                height:1em;
                background-image:url("https://res.cloudinary.com/logic-of-english/image/upload/checked_box.svg");
                background-size:100% 100%;
                background-position: center;
                background-repeat:no-repeat;
            }
        }
    }
}