@import 'loe-defaults';
@import 'site-defaults';

.unstyled {
    opacity:1;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    position:relative;
    box-sizing: border-box;
}

.section {
    width:100%;
    padding:2vw;
    margin:0;
    box-sizing: border-box;
}

.set-head {
    background-color:$lightblue;
    color:#fff;
    margin:0 auto;
    max-width:800px;
    padding:.5em;
    box-shadow:2px 2px 4px rgba(0,0,0,.4);
    box-sizing: border-box;
}

.text-block {
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    text-align:center;
    max-width:800px;
    display:block;

    &.left {
        text-align:left;
    }

    &.right {
        text-align:right;
    }
}

.hero-text {
    text-align:center;
    font-size:130%;
    box-sizing: border-box;
    padding:1em;
    font-weight:200;

    b {
        font-weight:600;
    }

    h3 {
        margin: 0;
    }
}

.image-text-widget {
    display:flex;
    flex-direction:row;
    max-width:800px;
    margin:0 auto;
    padding: 0 .5em;
    box-sizing: border-box;
    
    .text, .img-holder {
        margin: 0 .5em;
        width:50%;
    }

    &.img-first {
        .img-holder {
            order:1;
        }
        .text {
            order:2;
        }
    }
    
    &.text-first {
        .img-holder {
            order:2;
        }
        .text {
            order:1;
        }
    }
}

.cell-content {
    margin:0 auto;
    width: 90%;
    position:relative;
    display:flex;
    flex-direction: column;
}

.link-row {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.scrolly-holder {
    width:calc(95% - 60px);
    /* max-width:400px; let page set max width */
    font-size:14px;
    position:relative;
    box-sizing: border-box;
    margin:0 auto;
    padding:0;
    display:block;

    &.loe-scroller-holder {
        div[loe-scroller] {
            overflow:hidden;
        }

        button.next {
            right:-30px;
            top: calc(50% - 35px);
        }
        button.prev {
            left:-30px;
            top: calc(50% - 35px);
        }
    }

    div[loe-scroller] {
        overflow-x:scroll;
        -webkit-overflow-scrolling: touch;
        position: relative;
        width:100%;
        margin:0;
        display:block;
    }


    .scroll-strip {
        width:calc(100% * 11);
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .scroller-frame {
        width:100%;
        position: relative;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin:0;padding:0;
    }
}

.img-holder {
    width:100%;
    position:relative;
    display:block;
    box-sizing: border-box;

     img {
         display:block;
         margin:0 auto;
         width:100%;
         max-width:max-content;
         
         &[src$=".svg"] {
             max-width:100%;
         }
     }
}

img {
    opacity:1;
    transition:opacity .5s ease-in-out;

    &[data-src] {
        opacity:0;
    }
}

div[teacher-tip] {
    display:none;
}

@import 'po-spot';