@media screen and (min-width:760px) {
    .mobile-menu {
        display:none;
    }
    .mobile-menu-spacer {
        display:none;
    }
}

@media screen and (max-width:759px) {
.mobile-menu {
    display:block;
    position:absolute;
    top:0;
    left:0;
    margin:0;padding:0;
    box-sizing: border-box;

    .top-bar {
        height:$topNavHeight;
        width: ($topNavHeight) * 2 + 24px;
        display:flex;
        flex-direction:row;

        .menu-toggle {
            box-sizing: border-box;
            z-index:2;
            margin:0 0 0 16px;padding:0;
            height:$topNavHeight;
            width:$topNavHeight;
            position:absolute;
            opacity: 0;
            cursor: pointer;
        }
        .linus {
            margin:0 0 0 16px;padding:0;
            box-sizing: border-box;
            width:$topNavHeight;
            height:$topNavHeight;
            display:flex;
            justify-content: center;
            align-items: center;
            position: relative;

            div {
                width:30px;
                height:2px;
                background-color:#fff;
                position: relative;
                display:flex;
                align-items:center;
                justify-content: center;
                transform:rotate(0deg);
                transition:all .4s ease-in-out;
            }

            div::before, div::after {
                content: '';
                position:absolute;
                background-color:#fff;
                width:30px;
                height:2px;
            }
            div::before {
                top:-10px;
                transform:rotate(0deg);
            }

            div::after {
                top:10px;
                opacity:1;
                transform:rotate(0deg);
            }
        }

        .menu-holder {
            display:none;
            width:100vw;
            height:100vh;
            position: absolute;
            top:$topNavHeight;
            left:0;
            background-color:#fff;
            overflow-y:scroll;
            overflow-x:hidden;
            box-sizing: border-box;
            padding:0;

            .menu-item {
                display:flex;
                flex-direction: row;
                flex-wrap:wrap;
                width:100%;
                margin:0;padding:0;
                box-sizing: border-box;
                position: relative;
                padding:0;
                min-height:45px;

                a {
                    flex:1 0 auto;
                    background-color:$darkblue;
                    color:#fff;
                    text-decoration:none;
                    padding-left:16px;
                    display: flex;
                    align-content:center;
                    align-items: center;
                    font-family:$myriad-font;
                    text-transform: uppercase;
                }

                .expander {
                    width:45px;
                    height:45px;
                    position: absolute;
                    z-index: 1;
                    top:0;
                    right:16px;
                    opacity: 0;
                    margin:0;padding:0;
                    cursor: pointer;
                }
                .expansion-indicator {
                    width:calc(45px + 16px);
                    height:45px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    background-color:$darkblue;
                    
                    svg {
                        transform:rotateX(0deg);
                        transition:transform .2s ease-in-out;
                        width:27px;
                        height:27px;
                        padding:0;
                        margin:9px 25px 9px 9px;
                        polygon {
                            fill:#fff;
                        }
                    }
                }

                .kids {
                    width:100%;
                    display:none;
                    box-sizing: border-box;
                    margin:0;
                    padding:0 0 0 .5em;

                    .menu-item a {
                        background-color:#fff;
                        color:$darkblue;
                    }
                    .menu-item .expansion-indicator {
                        background-color:#fff;
                        svg polygon {
                            fill:$darkblue;
                        }
                    }

                }

                .expander:checked {
                    ~ a {
                        background-color:#fff;
                        color:$darkblue;
                    }

                    ~ .kids {
                        display:flex;
                        flex-direction: column;
                    }

                    ~ .expansion-indicator {
                        
                        background-color:#fff;

                        svg {
                            transform: rotateX(180deg);
                            polygon {
                                fill:$darkblue;
                            }
                        }
                    }
                }
            }
        }

        .menu-toggle:checked {
            ~ .linus {

                > div {
                    transform:rotate(135deg);
                }
                > div:before {
                    top:0;
                    transform:rotate(90deg);
                }
                > div:after {
                    opacity:0;
                    transform:rotate(90deg);
                }
            }

            ~ .menu-holder {
                display:flex;
                flex-direction: column;
            }
        }

        a.mobile-logo {
            margin-left:8px;
            width:$topNavHeight;
            height:$topNavHeight;
            position: relative;
        }
        svg.breve {
            width:80%;
            height:80%;
            position: relative;
            margin:10% auto;
            padding:0;

            path {
                fill:$red;
            }
        }
    }
}
.mobile-menu-spacer {
    width:33.3333%;
}
}
