.loe-top-nav {
    position:fixed;
    top:0;
    left:0;
    height:$topNavHeight;
    width:100%;
    padding:0 1em;
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    align-items: center;
    background-color:#fff;
    z-index: 1;
    box-shadow:0 2px 3px rgba(0,0,0,.3);

    a.logo {
        height:100%;
        display:block;
        
        img {
            height:100%;
            padding:2px;
            box-sizing:border-box;
        }
    }

    span.parent-link {
        display:block;
        flex:1;
        margin:0 .25em;
        padding:.25em;
        border-left:2px solid $darkblue;
        font-size:110%;
        font-family:$myriad-font;

        a {
            text-transform: uppercase;
            text-decoration:none;
            color:$darkblue;
        }

        &.no-line {
            border:none;
        }
        
    }

    button.shopping-cart {
        background-color:transparent;
        border:none;
        border-radius:0;
        height:44px;
        width:44px;
        margin:0;
        padding:0;
        position: relative;
        display:block;
        box-sizing: border-box;
        cursor:pointer;

        svg {
            height:70%;
            width:70%;
            position:absolute;
            top:15%;
            left:15%;
            display:block;
        }
    }
}

.nav-bar {
    position: fixed;
    top:$topNavHeight;
    left:0;
    right:0;
    height: 34px;
    z-index:1;
    margin:0;
    display:flex;
    flex-direction: row;
    background-color:$darkblue;
    justify-content: center;

    a {
        display:flex;
        flex-direction:column;
        font-family:$myriad-font;
        color:#fff;
        padding:.5em 1em;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        align-content: center;
        text-transform: uppercase;
        font-weight:200;
    }

    a.active {
        background-color:#fff;
        color:$darkblue;
        font-weight:400;
    }
}

@media screen and (max-width:759px) {
    .loe-top-nav {
        background-color:$darkblue;

        button.shopping-cart {
            svg path {
                fill:#fff;
            }
        }

        > a.logo, > span.parent-link {
            display:none;
        }
    }
    .nav-bar {
        display:none;
    }
    
}