html {
    overflow-x:hidden;
}
html,body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    position:relative;
}
.content {
    position:relative;
    top:#{$topNavHeight + $topSubNavHeight};
    min-height:calc(100vh - #{ $footerHeight + $topSubNavHeight });
    box-sizing:border-box;
}
.no-split {
    white-space: nowrap;
}

.header {
    background-color:$kellygreen;
    position:relative;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    box-shadow:0 2px 4px rgba(0,0,0,.4);

    h2, p {
        padding:10px;
        color:#fff;
        margin:0;
        
    }

    h2 {
        font-family:$myriad-font;
        font-size:230%;
        font-weight:600;
        text-align:right;
        white-space: nowrap;
    }
    p {
        font-family: $myriad-font;
        font-size:17px;
        font-weight:200;
        position: relative;
        text-align:left;
        max-width:55%;

        &:before {
            content:'';
            background-color:#fff;
            width:1px;
            height: 32px;
            position: absolute;
            left:0;
            top:50%;
            transform:translateY(-16px);
            opacity:.5;
        }
    }
}

@media screen and (max-width:759px) {
    .content {
        top: $topNavHeight;
        min-height:calc(100vh - #{ $footerHeight});
    }

    .header {
        h2 {
            @include responsiveText(26, 36, 530, 759);
        }
        p {
            @include responsiveText(12,17,530,759);
        }
    }
}

@media screen and (max-width:530px) {
    .content {
        min-height:calc(100vh - #{$mobileFooterHeight});
    }

    .header {
        flex-direction:column;
        h2, p {
            text-align:center;
            width:100%;
        }
        h2 {
            padding-bottom:5px;
            font-size:30.4px;
        }
        p {
            padding-top:0;
            font-size:14px;
            max-width:100%;
            box-sizing:border-box;

            &:before {
                display:none;
            }
        }
    }
}