.sub-nav {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
    a {
        font-family: $myriad-font;
        text-decoration: none;
        text-transform: uppercase;
        color:#666;
        padding:.25em 1em;
        border-left:1px solid #666;

        &:hover {
            text-decoration: underline;
        }
        
        &:first-child {
            border-left:1px solid transparent;
        }


    }
}

@media screen and (max-width:759px) {
    .sub-nav {
        display:none;
    }
}