<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in site.pages %}
    {% if(page.title != 'sitemap') -%}    
    <url>
        <loc>{{ site.url }}{{ page.url }}</loc>
        {%- if(page.sitemap != null and page.sitemap != empty) -%}
        <lastmod>{{ page.sitemap.lastmod }}</lastmod>
        <changefreq>{{ page.sitemap.changefreq }}</changefreq>
        <priority>{{ page.sitemap.priority }}</priority>
        {%- endif %}
    </url>
{%- endif -%}
{%- endfor -%}
</urlset>